/* GENERAL STYLES */

body {
	font-size: 10pt;
	font-family: 'Times New Roman', Times, serif;
}


/*
	RESUME STYLES
*/

.resume-container {
	width: 595px;
	height: 842px;

	margin: 0 auto;
	border: 0.5px solid black;
}

section {
	margin: 30px auto;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
}

ul ul {
	list-style-type: circle;	
	padding-left: 20px;
}

